#login {
	background-color: #ddd;
	color: black;
	border: 1px solid #999;
	border-left: none;
	border-right: none;
	width: 100%;
	overflow: hidden;
}
#login.loggedOut * {
	margin: 1px;
	padding: 1px;
	float: left;
	clear: none;
	width: auto;
}
#login input {
	font-size: 83.5%;
}
#login .checkbox input {
	margin: 5px 0;
}
#login form .required label:after {
	content: '';
}
#login p {
	padding: 5px;
}
#login .text, #login .password, #login .checkbox, #login .submit, #login.loggedOut a {
	margin-right: 10px;
}
.text #LoginEmail, .password #LoginPassword {
	width: 150px;
}
#login.loggedOut a {
	display: block;
	padding: 5px;
}
#modalLoginMenu {
	padding: 10px;
	float: right;
	background-color: #ddd;
	color: black;
	border: 1px solid #999;
	border-top: none;
	border-right: none;
}
/* Modal Windows */

.modal {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	text-align: center;
	z-index: 1000;
	background: url(../img/modal-background.png);
}
.modal .modalWindow {
	width: 600px;
	margin: 20px auto;
	background-color: white;
	border: 2px solid black;
	padding: 10px;
	text-align: left;
}
.buttons {
	width: 100%;
	overflow: hidden;
	padding: 0;
	margin: 0;
}
.buttonsInnermost {
	float: right;
	margin: 0;
}
.buttons .submit {
	float: left;
	margin: 0 0 0 10px;
	padding: 0;
	clear: none;
}
.modal h3.first {
	margin-top: 0;
}
