#login {
	background-color: #ddd;
	color: black;
	border: 1px solid #999;
	border-left: none;
	border-right: none;
	width: 100%;
	overflow: hidden;
}
#login.loggedOut * {
	margin: 1px;
	padding: 1px;
	float: left;
	clear: none;
	width: auto;
}
#login input {
	font-size: 83.5%;
}
#login .checkbox input {
	margin: 5px 0;
}
#login form .required label:after {
	content: '';
}
#login p {
	padding: 5px;
}
#login .text, #login .password, #login .checkbox, #login .submit, #login.loggedOut a {
	margin-right: 10px;
}
.text #LoginEmail, .password #LoginPassword {
	width: 150px;
}
#login.loggedOut a {
	display: block;
	padding: 5px;
}
